<head>
    <title>About US </title>

       <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
 <% include divs/head %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
           <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/css/aos.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/style.css">


</head>
<body>

     <% include divs/navbar %>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg.jpg');height:750px;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
      <div class=" container up-offset-1" align="center" style="color:black;">


                        <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">About Cruise Booking</h2>
                    <p>  At CRUISE-BOOKING. our goal is to provide cruise travelers a “one stop shop” cruise comparison mechanism. As we know your cruise vacation starts from the minute you visited our site, we will be consistently  checking deals with our partners to make sure you will be able to get all the relevant deals in just one place and for the best Price with all potential discounts!
It is a  FREE  service designed to help Cruise seekers search all their favorite cruise websites with fewer clicks and in less time.
</p>
                  </div>
                </div>
             
    
    </div>

            
              </div>
      </div>
    </section>
    
    <section class="ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                    <div class="img d-flex align-self-stretch" style="background-image:url(/assets/images/bg7.jpg);"></div>
                </div>
                <div class="col-md-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">Our Best</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  </div>
                </div>
                    <div class="row">
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="30">0</strong>
                        <span>Amazing Deals</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="200">0</strong>
                        <span>Sold Tours</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="2500">0</strong>
                        <span>New Tours</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="40">0</strong>
                        <span>Happy Customers</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb testimony-section" style="background-image: url(/assets/images/349145.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Happy Traveler Says</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12 testimonial">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap img" style="background-image: url(/assets/images/c2.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/c2.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-3.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-4.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-5.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 order-md-last d-flex">
                    <div class="img d-flex align-self-stretch" style="background-image:url(/assets/images/247937.jpg);"></div>
                </div>
                <div class="col-md-6 pr-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">Online Focused Travel Agency</h2>
                                      </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="ftco-animate tips">        We are a travel agency specialized in cruises based in India.
             We have invested a lot into our website in order to make the finest cruises in the india available with 
            convenient online bookings at affordable prices.
        </p>
                    </div>

                    <div class="col-md-12 heading-section ftco-animate">
                                 <h2 class="mb-4">Directly to Your Dream Holiday  </h2> </div>
                                    <div class="col-md-12">
                        <p class="ftco-animate tips">       
Our site is well organized and allows you to conveniently compare the offerings from different cruise lines. Our special focus is in showing only up-to-date prices and availabilities. Just click the button Availability on any of the cruise description pages and you will immediately see the available categories on your selected cruise from the cruise line reservation system. With another click, the available cabins will even be displayed in the deck plan!

And should you need personal assistance: Write to us anytime, we will be more than glad to help you!
            
        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

       <section class="ftco-counter img" id="section1">
        <div class="container">
            <div class="row d-flex">

                                <div class="col-md-6 pr-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">Fair Prices and Policies
</h2>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="ftco-animate tips">  The cruise prices on our website already include all taxes, fees and port charges. Fuel surcharges are either included or the amount is mentioned directly with the voyage description.

As a travel agency, we do not charge any own fees for bookings, booking changes or cancellations. Please note that the cruise lines do charge their own fees for changes and cancellations though.
            
        </p>
                        
                    </div>
                </div>
                                     <div class="col-md-12 heading-section ftco-animate">
                                 <h2 class="mb-4">Competent Advice</h2> </div>
                                    <div class="col-md-12">
                        <p class="ftco-animate tips">   The cruise prices on our website already include all taxes, fees and port charges. Fuel surcharges are either included or the amount is mentioned directly with the voyage description.

As a travel agency, we do not charge any own fees for bookings, booking changes or cancellations. Please note that the cruise lines do charge their own fees for changes and cancellations though.
            
        </p>
                        
                    </div>
               

            </div>



                <div class="col-md-6 order-md-first d-flex">
                    <div class="img d-flex align-self-stretch" style="background-image:url(/assets/images/349145.jpg);"></div>
                </div>

        </div>
        </div>
    </section>
    
    



  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.easing.1.3.js"></script>
  <script src="/assets/js/jquery.waypoints.min.js"></script>
  <script src="/assets/js/jquery.stellar.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/aos.js"></script>
  <script src="/assets/js/jquery.animateNumber.min.js"></script>
  <script src="/assets/js/bootstrap-datepicker.js"></script>
  <script src="/assets/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/assets/js/google-map.js"></script>
  <script src="/assets/js/main.js"></script>
    

<% include divs/topScrollBtn %>

<% include divs/footer %>



</body>
