<head>
    <title>About US </title>

      <link rel="icon" href="Images/cicon3.jpg" type="image/gif" sizes="16x16">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/assets/css/font_style.css" rel="stylesheet" />
   <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
     <link href="/assets/css/bootstrap.css" rel="stylesheet" />
   <link href="/assets/css/all.css" rel="stylesheet" />
    <script src="/assets/JS/modernizr-2.6.2.min.js"></script>
    <link href="/assets/css/all.min.css" rel="stylesheet" />
    <script src="/assets/JS/toggle.js"></script>
    <link href="/assets/css/style.css" rel="stylesheet" />



    <style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

 .cover {
            background: linear-gradient(rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5)), url(/assets/Images/349145.jpg) center;
            background-size: cover;
            min-height: 50rem;
            height: 600px;
            border-radius: 0;
            width: 100%;
            color: #fff;
            padding-top: 1rem;
        }
        h2 {

            text-transform:uppercase;
            letter-spacing:1px;
            color:black;
        }

        .up-offset-1 {
            margin-top:150px;
        }

        p {

            text-align:justify;letter-spacing:2px;
            color:black;
        }



</style>

</head>
<body>

  <section class="cover">

     <% include divs/navbar %>

  </section>


    <div class=" container up-offset-1" align="center" style="color:black;">



        <h2> About Cruise Book</h2>
        <hr  style="background:#0094ff;height:5px;width:30%;"/>


        <p style="color:black;">
            At CRUISE-BOOKING. our goal is to provide cruise travelers a “one stop shop” cruise comparison mechanism. As we know your cruise vacation starts from the minute you visited our site, we will be consistently  checking deals with our partners to make sure you will be able to get all the relevant deals in just one place and for the best Price with all potential discounts!
It is a  FREE  service designed to help Cruise seekers search all their favorite cruise websites with fewer clicks and in less time.

        </p>

    </div>

    <div class="container up-offset" style="color:black;">



        <div>
            <h3>Online Focused Travel Agency</h3>

            <hr style="background: #0094ff; height: 2px;" />

            <p>
                We are a travel agency specialized in cruises based in India.
             We have invested a lot into our website in order to make the finest cruises in the india available with
            convenient online bookings at affordable prices.
            </p>

        </div>



        <div>
            <h3>Fair Prices and Policies
            </h3>

            <hr style="background: #0094ff; height: 2px;" />

            <p>
                The cruise prices on our website already include all taxes, fees and port charges. Fuel surcharges are either included or the amount is mentioned directly with the voyage description.

As a travel agency, we do not charge any own fees for bookings, booking changes or cancellations. Please note that the cruise lines do charge their own fees for changes and cancellations though.
            </p>

        </div>



        <div>
            <h3>Competent Advice</h3>

            <hr style="background: #0094ff; height: 2px;" />

            <p>

Only real cruise experts are working with us. Each of our employees personally knows at least 10 ships.
                Profit from this knowledge! We are happy to answer your questions and to find the ship that best suits your wishes.
            </p>

        </div>

        <div>
            <h3>Directly to Your Dream Holiday  </h3>

            <hr style="background: #0094ff; height: 2px;" />

            <p>


Our site is well organized and allows you to conveniently compare the offerings from different cruise lines. Our special focus is in showing only up-to-date prices and availabilities. Just click the button Availability on any of the cruise description pages and you will immediately see the available categories on your selected cruise from the cruise line reservation system. With another click, the available cabins will even be displayed in the deck plan!

And should you need personal assistance: Write to us anytime, we will be more than glad to help you!
            </p>

        </div>

    </div>

<% include divs/topScrollBtn %>

<% include divs/footer %>



</body>
