 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<body>

    <script src="JS/jquery1.js"></script>
      <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else {
                    //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

        });
    </script>
    <script type="text/javascript">
        function myfun()
        {
            var ele = document.createElement('div');
            ele.style=" width:80%;background:#fff;display:block;border:thick;color:Red;height:10%"
            ele.textContent = "Room Added";
            //ele.innerText('room added');
            //ele.setAttribute(Text,"ROOM Added");
            var f = document.getElementById('myId');
            f.insertBefore(ele, f.firstElementChild);
            //f.appendChild(ele);
        }
        function removefun() {
            var f = document.getElementById('myId');
            f.removeChild(f.firstChild);


        }

        var mybtn = document.getElementsByClassName('mybtn');
        mybtn.onClick = function () {

        }


    </script>
    <div class="container" >
        <div class="row" >

        <div align="center" class="" style="width:100%;">
            <button class="btn-list  filter-button" data-filter="all">All </button>
            <button class="btn-list  filter-button" data-filter="rooms">Rooms</button>
            <button class="btn-list filter-button" data-filter="FR">Family Rooms</button>
            <button class="btn-list filter-button" data-filter="Luxury">Luxury Pods</button>
            <button class="btn-list  filter-button" data-filter="Dorms">Dorms</button>

        </div>
                 <br/>
            <section>

                <div style="padding-top:50px;"></div>


            <div class="gallery_product col-lg-10  filter rooms">

                <div class="col-lg-6">
           <img src="FR3.jpg" class="img-responsive"/>
                </div>
                <div class="col-lg-6" align="center">

                    <br />
              <div class="font-robo" > Double Bed room</div>
                                        <table>
                        <tbody>
                        <tr>
                            <td>View :</td>
                            <td>Big Window</td>
                        </tr>
                        <tr>
                            <td>Capacity :</td>
                            <td> 2</td>
                        </tr>
                             <tr>
                            <td>Washroom :</td>
                            <td>Attached Washroom</td>
                        </tr>
                        <tr>
                            <td>Additional Bed:</td>
                            <td> No</td>
                        </tr>
                       <tr>
                           <td>
                               Select Deck:
                           </td>
                           <td>
                               <select>
                                   <option>A</option>
                                   <option>B</option>
                                   <option>C</option>
                                   <option>D</option>
                               </select>
                           </td>
                       </tr>
                            <tr>
                                <td>
Price Per Person:
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>


                    <div class="row" style="padding-top:50px;color:#fff;">
                        <div style="background:#2b77f4;float:left;width:40%;height:80px;"></div>
                        <div style="background:#2f2d2d;float:left;width:30%;height:80px;color:#fff;">No.of rooms
                            <select class="form-control" style="background:#2f2d2d;border:none;text-decoration:#fff;width:50%;color:#fff;" align="center">
												<option>1</option>
												<option>2</option>
												<option>3</option>
                                <option>4</option>
											</select>

                        </div>
                        <button class="mybtn btn1" onclick="myfun()">ADD</button>
                        <!--<input type="button" class="mybtn btn1" onclick="myfun()" value="ADD" />-->



               </div>
                    <div class="row">
               </div>


                </div>
            </div>


                  <div class="gallery_product col-lg-10  filter FR">

                <div class="col-lg-6">
           <img src="images/Familyrooms/FR2.jpg" class="img-responsive"/>
                </div>
                <div class="col-lg-6" align="center">

                    <br />
              <div class="font-robo" > Double Bed room</div>
                                        <table>
                        <tbody>
                        <tr>
                            <td>View :</td>
                            <td>Big Window</td>
                        </tr>
                        <tr>
                            <td>Capacity :</td>
                            <td> 2</td>
                        </tr>
                             <tr>
                            <td>Washroom :</td>
                            <td>Attached Washroom</td>
                        </tr>
                        <tr>
                            <td>Additional Bed:</td>
                            <td> No</td>
                        </tr>
                       <tr>
                           <td>
                               Select Deck:
                           </td>
                           <td>
                               <select>
                                   <option>A</option>
                                   <option>B</option>
                                   <option>C</option>
                                   <option>D</option>
                               </select>
                           </td>
                       </tr>
                            <tr>
                                <td>
Price Per Person:
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>


              <div class="row" style="padding-top:50px;color:#fff;">
                        <div style="background:#2b77f4;float:left;width:40%;height:80px;"></div>
                        <div style="background:#2f2d2d;float:left;width:30%;height:80px;color:#fff;">No.of rooms
                            <select class="form-control" style="background:#2f2d2d;border:none;text-decoration:#fff;width:50%;color:#fff;" align="center">
												<option>1</option>
												<option>2</option>
												<option>3</option>
                                <option>4</option>
											</select>

                        </div>
                        <button class="mybtn">ADD</button>



               </div>


                </div>
            </div>

                  <div class="gallery_product col-lg-10  filter rooms">

                <div class="col-lg-6">
           <img src="images/Familyrooms/FR1.jpg" class="img-responsive"/>
                </div>
                <div class="col-lg-6" align="center">

                    <br />
              <div class="font-robo" > Double Bed room</div>
                                        <table>
                        <tbody>
                        <tr>
                            <td>View :</td>
                            <td>Big Window</td>
                        </tr>
                        <tr>
                            <td>Capacity :</td>
                            <td> 2</td>
                        </tr>
                             <tr>
                            <td>Washroom :</td>
                            <td>Attached Washroom</td>
                        </tr>
                        <tr>
                            <td>Additional Bed:</td>
                            <td> No</td>
                        </tr>
                       <tr>
                           <td>
                               Select Deck:
                           </td>
                           <td>
                               <select>
                                   <option>A</option>
                                   <option>B</option>
                                   <option>C</option>
                                   <option>D</option>
                               </select>
                           </td>
                       </tr>
                            <tr>
                                <td>
Price Per Person:
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>


                  <div class="row" style="padding-top:50px;color:#fff;">
                        <div style="background:#2b77f4;float:left;width:40%;height:80px;"></div>
                        <div style="background:#2f2d2d;float:left;width:30%;height:80px;color:#fff;">No.of rooms
                            <select class="form-control" style="background:#2f2d2d;border:none;text-decoration:#fff;width:50%;color:#fff;" align="center">
												<option>1</option>
												<option>2</option>
												<option>3</option>
                                <option>4</option>
											</select>

                        </div>
                        <button class="mybtn">ADD</button>



               </div>


                </div>
            </div>



                <div class="col-lg-2 side-container"   id="myId">
                   <button class="conformbtn" id="cb" onclick="removefun()" >Conform </button>
                </div>

                </section>

        </div>
    </div>


    <section>
        <div class="container ">

            <div class="row filter FR" >
                <div class="col-lg-5" style="background:#e2dfdf;height:500px;" align="center">
                  <h1> Family Room</h1>
                    <img src="images/Familyrooms/FR2.jpg" class="img-responsive"/>
                    <br />
               <div class="row">
                   <label class="col-md-6">Capacity :4 </label>
                   <label class="col-md-6"> Window : Yes</label>
               </div>
                    <div class="row">
                   <label class="col-md-6">Bed type: Double bed</label>
                   <label class="col-md-6"> Wash Room: Yes</label>
               </div>

                </div>
                <div class="col-lg-2"></div>
                 <div class="col-lg-5" style="background:#e2dfdf" align="center">
                       <h1> Family Room</h1>
                <img src="images/Familyrooms/FR4.jpg" class="img-responsive"/>


                       <div class="row">
                   <label class="col-md-6">Capacity :4 </label>
                   <label class="col-md-6"> Window : Yes</label>
               </div>
                    <div class="row">
                   <label class="col-md-6">Bed type: Double bed</label>
                   <label class="col-md-6"> Wash Room: Yes</label>
               </div>

                </div>

            </div>
        </div>
    </section>

  </body>
</html>
