                      <option>Cochin</option>
                      <option> Singapore</option>
                      <option> Maldives</option>
                      <option>Sri Lanka</option>
                      <option> Dubai</option>
                      <option>Kathmandu</option>
                              <option>Pallathurathy</option>
                      <option>Sudarbans</option>
                      <option>Jorhat</option>
                      <option>Mumbai</option>
                      <option>Bangladesh</option>
                      <option>Goa</option>

                      <option>Venice</option>
                      "cruiseId" : 1,
                      "cruiseName"		:    "",
                      "shipName"		:      "",
                      "sailingName"		:    "",
                      "dePort"	:          "",
                      "cruiseDur"	:        "",
                      "portsOfCall"		:    "",
                      "cruiseType"		:    "",
                      "price"			:        "",
                      "sailDate"		:      "",
                      "imgName"   :      ""
