<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="/assets/Images/cicon3.jpg" type="image/gif" sizes="16x16">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/assets/css/font_style.css" rel="stylesheet" />
    <link href="/assets/css/footer.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
     <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <script href="/assets/JS/Custom.js" ></script>
    <link href="/assets/css/all.css" rel="stylesheet" />
    <link href="/assets/css/all.min.css" rel="stylesheet" />
    <script src="/assets/JS/Custom.js"></script>
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/navbar.css" rel="stylesheet"/>

  </head>
  <body>
    <div class="container">
      <div class="col-lg-12">

            <div class="booking-form">
            <h3 class="page-header">cruise1</h3>
          <div class="row">

             <img class="img-reponsive col-lg-6" src="/assets/Images/239733.jpg" />

            <div class="col-lg-4">

                <table>
                    <tbody>
                        <tr>
                              <td>Cruise Line :</td>
                        </tr>
                        <td> cruise1 </td>


                        <tr>
                              <td>Ship Name :</td>
                                 <td>cruise1</td>
                        </tr>


                        <tr>
                              <td>Sailing Name :Mumbai to Sri</td>
                                 <td>cruise1</td>
                        </tr>
                        <tr>
                              <td>Depature port :</td>
                                 <td>cruise1</td>
                        </tr>


                        <tr>
                              <td>Cruise Duration :</td>
                                 <td>cruise1</td>
                        </tr>

                        <tr>
                              <td>Price:</td>
                                 <td> cruise1 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           </div>
            <div class="row ">
            <p class="panel-body">
cruise1            </p>
                <a class="btn myblue" href="/users/booking-details" style="float:right;margin-right:100px;">Select</a>
            </div>

           </div>
         </div>


           </div>
  </body>
</html>
