
<head>
    <title>Customer details | Cruise Booking</title>

    <link type="text/css" rel="" href="/assets/JS/Country_state.js" />
    <script src="/assets/JS/Country_state.js"></script>


    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />

<% include divs/head %>
    <script>
         function pageload(){
           alert("cruiseName:"+sessionStorage.getItem("selectedRoomTypes"));

              document.getElementById("dprice").innerHTML = parseInt(sessionStorage.getItem("price"),10);
              document.getElementById('tour').innerHTML=sessionStorage.getItem("source")+" TO "+sessionStorage.getItem("destination");
              document.getElementById('date').innerHTML=sessionStorage.getItem("currentDate");
              document.getElementById('nP').innerHTML=sessionStorage.getItem("total");
              // document.getElementById('roomName').innerHTML=sessionStorage.getItem("rName");
              var selectedRoomTypes = [];

               // alert(selectedRoomTypes);
              <% for(var i=0; i< roomsData.roomTypes.length ; i++){%>
                       selectedRoomTypes = JSON.parse(sessionStorage.getItem("selectedRoomTypes"));
                       selectedRoomTypes.forEach(function (item) {
                       // alert(item);

                       if(item ==  "<%= roomsData.roomTypes[i].roomtype %>"){
                         document.querySelector('#roomdata').insertAdjacentHTML(
                  'afterbegin',
                  `<table>
                      <tbody>
                          <tr>
                              <td>Room :</td>
                              <td id="roomName">`+ "<%= roomsData.roomTypes[i].roomtype %>" +`</td>
                          </tr>

                           <tr>
                              <td>capacity :</td>
                               <td id="capacity">`+<%= roomsData.roomTypes[i].capacity %> +`</td>
                          </tr>
                           <tr>
                              <td>Price:</td>
                              <td id="roomPrice">`+ <%= roomsData.roomTypes[i].price %> +`</td>
                          </tr>

                      </tbody>

                     </table>
                `);
                }
             });

              <%}%>
        }

       function clearPrice(){
         sessionStorage.removeItem("price");
       }
      </script>

	    </head>


      <body onload="pageload();" class="bg-light">

           <div id="loading">

          </div>


<% include divs/navbar %>




    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row block-9">
                <div class="col-lg-6">
                        <div class="booking-form">

                            <h2> Booking Detail</h2>

                            <div >
                                <h4>Tour Detail</h4>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Tour :</td>
                                            <td id="tour"> </td>
                                        </tr>

                                         <tr>
                                            <td>Date :</td>
                                            <td id="date"></td>
                                        </tr>
                                         <tr>
                                            <td>Number of Person's:</td>
                                            <td id="nP"></td>

                                        </tr>

                                    </tbody>

                                </table>
                                 <form class="" action="/users/index" method="post">
                                     <input type="hidden" name="destination" id="dest" />
                                     <input type="hidden" name="cruiseName" id="cname" />
                                     <input type="hidden" name="cruiseDur" id="cdur" />

                                    <script> var destination = sessionStorage.getItem("destination")
                                             var cruiseName = sessionStorage.getItem("cruiseName");
                                             var cruiseDur = sessionStorage.getItem("cruiseDur");

                                      document.getElementById("dest").value = destination;
                                      document.getElementById("cname").value = cruiseName;
                                      document.getElementById("cdur").value = cruiseDur;

                                    </script>

                                   <!-- <a href="/users/all-cruises">Change Tour</a> -->

                                   <button type="submit" class="btn btn-link" name="button" onclick="clearPrice();">Change Tour</button>

                                 </form>

                                <hr />
                                <br />
                                <h4>Room Detail</h4>

                               <div id=roomdata>

                               </div>
                                                                   <form class="" action="/users/all-cruises" method="post">
                                       <input type="hidden" name="cruiseName" id="cname2" />
                                       <input type="hidden" name="cruiseTitle" id="ctitle" />
                                       <script>
                                                var cruiseTitle = sessionStorage.getItem("cruiseTitle")
                                                var cruiseName = sessionStorage.getItem("cruiseName");

                                         document.getElementById("cname2").value = cruiseName;
                                         document.getElementById("ctitle").value = cruiseTitle;
                                       </script>


                                         <button type="submit" class="btn btn-link" name="button" onlick="clearPrice();">Change Room</button>
                                  </form>
                                <hr />


                               <h3>  <span> Grand Total: <p id="dprice"></p></span>&#8377;</h3>
                            </div>
                            <span class=""> </span>
                            <span></span>
                            </div>
                    </div>

          <div class="col-md-6 order-md-last d-flex">
            <form action="/users/Guest-Detail" method="post" class="bg-light p-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="Email" placeholder="Your Email" required>
              </div>
                <div class="row">
              <div class="form-group col-md-6">
                <input class="form-control" type="text"  name="Mob" pattern="[789][0-9]{9}" maxlength="10"  placeholder="Enter a Mobile number" id="mob"  required/>
              </div>
                  <div class="form-group col-md-6">
                <input type="date" class="form-control" name="DOB" placeholder="DOB" required>
              </div>
            </div>
              <div class="form-group">
                <textarea name="" id="" cols="20" rows="4" name="Address" class="form-control" placeholder="Address" required></textarea>
              </div>


                  <div class="row">
                                    <div class="col-sm-4">
                                        <span class="form-label">Country</span>

                                        <select class="form-control" onchange="print_state('states',this.selectedIndex);" name="country" id="country"></select>
                                        <script type="text/javascript" language="javascript">
                                            print_country("country");
                                        </script>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="form-label">State</span>

                                        <select class="form-control" onchange="print_cities('cities',this.selectedIndex);" name="state" id="states"></select>
                                        <script type="text/javascript" language="javascript">
                                            print_state("states");
                                        </script>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="form-label">City</span>

                                        <input type="text" class="form-control" name="city" id="cities" required></input>
                                        <script type="text/javascript" language="javascript">
                                            print_cities("cities");
                                        </script>
                                    </div>

                                </div>

                <br />
                 <div class="form-group">
                <!--<input type="submit" value="Save" class="btn btn-primary py-3 px-5">-->
              </div>
              <button type="submit" class="btn btn-primary py-3 px-5">Save</button>
            </form>

          </div>

        </div>
      </div>
    </section>


            <% include divs/topScrollBtn %>
                 <!--footer area-->
            <% include divs/footer %>
 <% include divs/lib %>
 <script src="/assets/JS/Country_state.js"></script>






      </body>
