
<head>
    <title>Customer details | Cruise Booking</title>

    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />

<% include divs/head %>
 <script>
         function pageload(){
          
              document.getElementById('tour').innerHTML=sessionStorage.getItem("source")+" TO "+sessionStorage.getItem("destination");
                                      
              document.getElementById('date').innerHTML=sessionStorage.getItem("currentDate");
              document.getElementById('nP').innerHTML=sessionStorage.getItem("total");
              document.getElementById('roomName').innerHTML=sessionStorage.getItem("rName");
          }



      </script>


	    </head>


      <body onload="pageload()" class="bg-light">

           <div id="loading">

          </div>


<% include divs/navbar %>




    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row block-9">
                <div class="col-lg-6">
                        <div class="booking-form">

                            <h2> Booking Detail</h2>
                            
                            <div > 
                                <h4>Tour Detail</h4>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Tour :</td>
                                            <td id="tour"> </td>
                                        </tr>

                                         <tr>
                                            <td>Date :</td>
                                            <td id="date"></td>
                                        </tr>
                                         <tr>
                                            <td>Number of Person's:</td>
                                            <td id="nP"></td>

                                        </tr>
                                         
                                    </tbody>
                                   
                                </table>
                                 <a href="AllCruises.html">Change Tour</a>
                                <hr />
                                <br />
                                <h4>Room Detail</h4>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Room :</td>
                                            <td id="roomName"></td>
                                        </tr>

                                         <tr>
                                            <td>capacity :</td>
                                            <td id="capacity"></td>
                                        </tr>
                                         <tr>
                                            <td>Price:</td>
                                            <td id="roomPrice"></td>

                                        </tr>
                                         
                                    </tbody>

                                   </table>
                                 <a href="BookingDetails.html">Change Room</a>
                                <hr />

                               

                               <h3>  <span> Grand Total: _________&#8377;</span></h3>
                            </div>
                            <span class=""> </span>
                            <span></span>
                            </div>
                    </div>
                
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-light p-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email" required>
              </div>
                <div class="row">
              <div class="form-group col-md-6">
                <input class="form-control" type="text"  pattern="[789][0-9]{9}" maxlength="10"  placeholder="Enter a Mobile number" id="mob"  required/>
              </div>
                  <div class="form-group col-md-6">
                <input type="date" class="form-control" placeholder="DOB" required>
              </div>
            </div>
              <div class="form-group">
                <textarea name="" id="" cols="20" rows="4" class="form-control" placeholder="Address" required></textarea>
              </div>
             

                  <div class="row">
                                    <div class="col-sm-4">
                                        <span class="form-label">Country</span>

                                        <select class="form-control" onchange="print_state('states',this.selectedIndex);" name="country" id="country"></select>
                                        <script type="text/javascript" language="javascript">
                                            print_country("country");
                                        </script>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="form-label">State</span>

                                        <select class="form-control" onchange="print_cities('cities',this.selectedIndex);" name="state" id="states"></select>
                                        <script type="text/javascript" language="javascript">
                                            print_state("states");
                                        </script>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="form-label">City</span>

                                        <input type="text" class="form-control" name="city" id="cities" required></input>
                                        <script type="text/javascript" language="javascript">
                                            print_cities("cities");
                                        </script>
                                    </div>

                                </div>
                   
                <br />
                 <div class="form-group">
                <!--<input type="submit" value="Save" class="btn btn-primary py-3 px-5">-->
                     <a href="/users/Guest-Detail" class="btn btn-primary py-3 px-5">Save</a>
              </div>
           
            </form>
          
          </div>

        </div>
      </div>
    </section>


            <% include divs/topScrollBtn %>
                 <!--footer area-->
            <% include divs/footer %>
 <% include divs/lib %>






      </body>
