<head>


        <meta charset="utf-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>Dining | Cruise Booking</title>

   <% include divs/head %>

 <script>
     function preload() {


         var preld = document.getElementById('loading');
         preld.style.display = 'none';
     }

 </script>


</head>
<body  onload="preload()">

   <div id="loading">

 </div>


 <section  class="cover">


   <% include divs/navbar %>
        <!--footer area-->




 </section>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg6.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 mb-5 text-center">
            <h1 class="mb-3 bread">Hotels &amp; Restaurant</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Hotel &amp; Restaurant <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d1.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d2.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d3.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Restaurant</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d4.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d5.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d6.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Restaurant</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d7.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d8.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/dining/d9.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Restaurant</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/dining/d9.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </section>



 <% include divs/topScrollBtn %>
</div>

      <!--footer area-->
 <% include divs/footer %>

 <% include divs/lib %>






</body>
