<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HOME | Cruise Booking</title>
    <link rel="icon" href="/assets/assets/images/cicon3.jpg" type="image/gif" sizes="16x16">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
           <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/css/aos.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/style.css">


   
 </head>
 <body onload="preload()"   >

     <script type="text/javascript">
         $(window).scroll(function () {

             var sc = $(window).scrollTop();
             $('section').css(
                 {
                     'background-position-x': -sc + 'px',
                 }
                     );
         });



        </script>

  
      <% include divs/navbar%>


 <section>
    <div class="hero-wrap js-fullheight" style="background-image: url('/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"> </div>
      <div class="container-fluid">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
         

            
              
         
            <div class="col-lg-3" style="margin-top:5%;">
                <div class="container search-wrap-1 ftco-animate p-4" ">
                   <center>                 
                              <h2 style="color:white">Find Your Route</h2>
              <form class="horizontal cover-container" >
                      <div class="form-group">
                        <select id="destination_result" class="form-control trans form-field"  required>
                          <option value="All Destination" >Any Destination</option>
                            <option>Cochin</option>
                            <option> Singapore</option>
                            <option> Maldives</option>
                            <option>Sri Lanka</option>
                            <option> Dubai</option>
                            <option>Kathmandu</option>
                                    <option>Pallathurathy</option>
                            <option>Sudarbans</option>
                            <option>Jorhat</option>
                            <option>Mumbai</option>
                            <option>Bangladesh</option>
                            <option>Goa</option>

                            <option>Venice</option>

                    </select>

                         </div>
                      <div class="form-group">
                            <select id="departure_result" class="form-control trans"  required>
                              <option value="All Departure"   >Any Departure Port</option>
                                <option>Cochin</option>
                                <option> Singapore</option>
                                <option> Maldives</option>
                                <option>Sri Lanka</option>
                                <option> Dubai</option>
                                <option>Kathmandu</option>
                                <option>Pallathurathy</option>
                                <option>Sudarbans</option>
                                <option>Jorhat</option>
                                <option>Mumbai</option>
                                <option>Bangladesh</option>
                                <option>Goa</option>

                                <option>Venice</option>
                                </select>
                         </div>
                                          <div class="form-group">
                        <input type="month" id="Cdate" class="form-control trans"  value="2019-03" />
      
                  </div>
                                      <div class="form-group">
                         <select id="length" class="form-control trans"  required>
                          <option value="All Length">Select Length</option>
                          <option value="2">3-5 nights</option><option value="3">6-9 nights</option><option value="4">10-14 nights</option><option value="5">15+ nights</option>    </select>
                      </div>
                                      <div class="form-group">
                    <select id="all_cruise" class="form-control trans" onchange="get_view_data(this.value, 'home');" required>
                      <option value="All Cruise Lines">All Cruise Lines</option>
                        <option>Costa Cruises </option>
                        <option>Royal Caribbean</option>
                        <option>Avalon Waterways</option>
                        <option>Oberio M.V.Vrinda</option>
                        <option>M.V.Paramhamsa</option>
                        <option>MV Mahabaahu</option>
                        </select>
                     </div>

                                  <div class="form-group">

                      <input type="number" id="numP" class="form-control trans" min="1" placeholder="Number of person"  required />
                                    
                  </div>
                            <span style="background:red;color:white;" id="err"></span>
              <div class="col-lg align-self-end">
                                <div class="form-group">
                                    <div class="form-field">
                                <a href="/users/avail-cruise" onclick="validation()" class="form-control btn btn-primary">Search </a>
                                        <!--<button onclick="validation()"></button>-->
                                        
                                        <script >
    function validation() {
        alert("hhhh" + sessionStorage.getItem('total'));

        var src = document.getElementById('departure_result');

        var dest = document.getElementById('destination_result');
        var cdate = document.getElementById('Cdate');
        var nPerson = document.getElementById('numP');
        var length = document.getElementById('length');
        var infants = document.getElementById('infant');
        sessionStorage.setItem("total", nPerson.value);
        var temp = sessionStorage.setItem("source", src.value);
        
        sessionStorage.setItem("destination", dest.value);

        sessionStorage.setItem("currentDate", cdate.value);
        sessionStorage.setItem("Adults", adults.value);
        sessionStorage.setItem("length", length.value);
        sessionStorage.setItem("Infants", infants.value);

     
    }
                                        </script>

                              </div>
                          </div>
                            </div>
        </form>    

</center>

                </div>
            </div>
     

                

          <div class="col-md-6 ftco-animate mt-5 offset-1 justify-content-end" data-scrollax=" properties: { translateY: '70%' }" >
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Be a Traveler not a Tourist</h1>
            <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Travel to the any corner of the world, without going around in circles</p>
          </div>
        </div>
      </div>
    </div>
      </section>
   


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Best Place to Travel</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/destination-1.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/destination-2.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/destination-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/destination-3.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/destination-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/destination-4.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$400</h4>
                            <span>15 Days Tour</span>
                            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/destination-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><i class="fas  fa-3x fa-tools"></i></div>
              <br />
              <div class="media-body">
                  <h3 class="heading mb-3">24/7 Service</h3>
                <p>You only need to pay a deposit when you book your trip in advance!</p>
    
               </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><i class="fas fa-3x fa-piggy-bank"></i>
                            </div>
                            <br />
              <div class="media-body">
                  <h3 class="heading mb-3">No Booking Fees</h3>
            <p>You only need to pay a deposit when you book your trip in advance!</p>
                 </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon">  <i class="fas fa-3x fa-lock"></i></div>
              <br />
              <div class="media-body">
                  <h3 class="heading mb-3">Best Price Gurantee</h3>
                            <p> We’re giving you the lowest rate possible – and we guarantee it!</p>
                 </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"> <i class="far fa-3x fa-money-bill-alt"></i></div>
              <br />
              <div class="media-body">
              <h3 class="heading mb-3"> Flexible Payment</h3>
                <p>You only need to pay a deposit when you book your trip in advance!</p>
                </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                         <iframe width="1500" height="600" src="https://sketchfab.com/models/25044269340548d2bc776e4abdfc82cf/embed?autospin=0.2&amp;autostart=1&amp;preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
               
                    <!--<div class="img d-flex align-self-stretch" style="background-image:url(assets/images/about.jpg);"></div>-->
                </div>
                <div class="col-md-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">About Cruise Booking</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  </div>
                </div>
                    <div class="row">
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="30">0</strong>
                        <span>Amazing Deals</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="200">0</strong>
                        <span>Sold Tours</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="2500">0</strong>
                        <span>New Tours</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center py-5 bg-light mb-4">
                      <div class="text">
                        <strong class="number" data-number="40">0</strong>
                        <span>Happy Customers</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Hotel &amp; Restaurant</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/hotels/hotel1.jpeg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/hotels/hotel1.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/hotels/hotel3.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Hotel</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/hotels/hotel3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ftco-animate">
                    <div class="project">
                        <div class="img">
                            <img src="/assets/images/hotels/hotel2.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="text">
                            <h4 class="price">$600</h4>
                            <span>300 per person</span>
                            <h3><a href="project.html">New Orleans Restaurant</a></h3>
                            <div class="star d-flex clearfix">
                                <div class="mr-auto float-left">
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                    <span class="ion-ios-star"></span>
                                </div>
                                <div class="float-right">
                                    <span class="rate"><a href="#">(120)</a></span>
                                </div>
                            </div>
                        </div>
                        <a href="/assets/images/hotels/hotel2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row d-flex">
                    <div class="col-md-6 pr-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">Top Cruise line</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

               <ul>
                        <li class="ftco-animate tips">
                            Costa Cruises
                        </li>
                        <li class="ftco-animate tips">

                            Royal Caribbean

                        </li>
                        <li class="ftco-animate tips">
                            Avalon Waterways


                        </li>
                        <li class="ftco-animate tips">
                            M.V.Paramhamsa


                        </li>
                        <li class="ftco-animate tips">
                            Oberioi M.V. Vrinda

                        </li>


                        <li class="ftco-animate tips">
                            MV mahabaahu

                        </li>
                   
                    </ul>

                    </div>
                </div>
            </div>



                <div class="col-md-6 pr-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <h2 class="mb-4">Cruise Destinations</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                                <ul>
                        <li class="ftco-animate tips">
                              Cochin
                        </li>
                        <li class="ftco-animate tips">

                            Maldives

                        </li>
                        <li class="ftco-animate tips">
                            Sri Lanka


                        </li>
                        <li class="ftco-animate tips">
                            Singapore


                        </li>
                        <li class="ftco-animate tips">
                            Dubai

                        </li>

                        <li class="ftco-animate tips">
                            Kathmandu

                        </li>
                   
                        <li class="ftco-animate tips">
                            Pallathurathy

                        </li>
                   <li class="ftco-animate tips">
                            Bateswarshat

                        </li>
                   

                        <li class="ftco-animate tips">
                            Bangladesh

                        </li>
                   
                    </ul>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
        

    <section class="ftco-section ftco-no-pb testimony-section" style="background-image: url(/assets/images/bg_1.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Happy Traveler Says</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12 testimonial">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap img" style="background-image: url(/assets/images/traveler-1.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-2.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-3.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-4.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url(/assets/images/traveler-5.jpg);">
                    <div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<% include divs/topScrollBtn %>
     <!--footer area-->
<% include divs/footer %>



    <!--footer area-->




  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.easing.1.3.js"></script>
  <script src="/assets/js/jquery.waypoints.min.js"></script>
  <script src="/assets/js/jquery.stellar.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/aos.js"></script>
  <script src="/assets/js/jquery.animateNumber.min.js"></script>
  <script src="/assets/js/bootstrap-datepicker.js"></script>
  <script src="/assets/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/assets/js/google-map.js"></script>
  <script src="/assets/js/main.js"></script>
    




</body>




</html>
