<!DOCTYPE html>
<html lang="en"
 xmlns:fb="http://ogp.me/ns/fb#" prefix="og: http://ogp.me/ns#">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Best Site to Book a Cruise - Real Savings on Your Next Cruise Booking </title>

	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/html5.js"></script>
	<![endif]-->


<!-- This site is optimized with the Yoast SEO plugin v4.9 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Best Site to Book a Cruise simplifies the online cruise booking process and offers great deals on discount cruises to a community of awesome cruisers."/>
<link rel="canonical" href="http://www.bestsitetobookacruise.com/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Best Site to Book a Cruise - Real Savings on Your Next Cruise Booking" />
<meta property="og:description" content="Best Site to Book a Cruise simplifies the online cruise booking process and offers great deals on discount cruises to a community of awesome cruisers." />
<meta property="og:url" content="http://www.bestsitetobookacruise.com/" />
<meta property="og:site_name" content=" " />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Best Site to Book a Cruise simplifies the online cruise booking process and offers great deals on discount cruises to a community of awesome cruisers." />
<meta name="twitter:title" content="Best Site to Book a Cruise - Real Savings on Your Next Cruise Booking" />
<meta name="twitter:site" content="@site2bookcruise" />
<meta name="twitter:creator" content="@site2bookcruise" />
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/www.bestsitetobookacruise.com\/","name":"Best Site to Book a Cruise - The Best Deals for Discount Cruises","potentialAction":{"@type":"SearchAction","target":"http:\/\/www.bestsitetobookacruise.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"http:\/\/www.bestsitetobookacruise.com\/","sameAs":["https:\/\/www.facebook.com\/bestsitetobookacruise\/","https:\/\/www.instagram.com\/bestsitetobookacruise\/","https:\/\/www.youtube.com\/channel\/UCu0O53fngNXsj2DiRxU-Yig","https:\/\/twitter.com\/site2bookcruise"],"@id":"#organization","name":"Best Site to Book a Cruise","logo":"http:\/\/www.bestsitetobookacruise.com\/wp-content\/uploads\/2016\/10\/Logo_Transparent.png"}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="  &raquo; Feed" href="http://www.bestsitetobookacruise.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="  &raquo; Comments Feed" href="http://www.bestsitetobookacruise.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="  &raquo; Home Comments Feed" href="http://www.bestsitetobookacruise.com/home/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.bestsitetobookacruise.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.3"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='layerslider-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/LayerSlider/static/css/layerslider.css?ver=5.6.2' type='text/css' media='all' />
<link rel='stylesheet' id='ls-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='bbp-default-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/bbpress/templates/default/css/bbpress.css?ver=2.5.12-6148' type='text/css' media='screen' />
<link rel='stylesheet' id='bp-legacy-css-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-templates/bp-legacy/css/buddypress.min.css?ver=2.8.2' type='text/css' media='screen' />
<link rel='stylesheet' id='ctt-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/click-to-tweet/css/ctt-module-design.css?ver=4.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='resmap_css-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/responsive-maps-plugin/includes/css/resmap.min.css?ver=2.29' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.0.5' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
</style>
<link rel='stylesheet' id='wpemfb-lightbox-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/wp-embed-facebook/lib/lightbox2/css/lightbox.css?ver=4.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='kbe_theme_style-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/wp-knowledgebase/template/kbe_style.css?ver=1.1.5' type='text/css' media='all' />
<style id='kbe_theme_style-inline-css' type='text/css'>

			#kbe_content h2 span.kbe_count,
			#kbe_content .kbe_child_category h3 span.kbe_count {
				background-color: #1e73be !important;
			}
			.kbe_widget .kbe_tags_widget a,
			.kbe_widget .kbe_tags_widget a:hover{
				text-decoration: underline;
				color: #1e73be !important;
			}

</style>
<link rel='stylesheet' id='font-awesome-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/silicon-counters/framework/assets/font-awesome/css/font-awesome.min.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='colorbox-css'  href='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/colorbox/colorbox.css?ver=4.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-datepicker-css'  href='http://www.bestsitetobookacruise.com/wp-content/themes/midway/framework/assets/css/datepicker.css?ver=4.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='general-css'  href='http://www.bestsitetobookacruise.com/wp-content/themes/midway/style.css?ver=4.8.3' type='text/css' media='all' />
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/LayerSlider/static/js/greensock.js?ver=1.11.8'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.6.2'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/LayerSlider/static/js/layerslider.transitions.js?ver=5.6.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var BP_Confirm = {"are_you_sure":"Are you sure?"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-core/js/confirm.min.js?ver=2.8.2'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-core/js/widget-members.min.js?ver=2.8.2'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-core/js/jquery-query.min.js?ver=2.8.2'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-core/js/vendor/jquery-cookie.min.js?ver=2.8.2'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-core/js/vendor/jquery-scroll-to.min.js?ver=2.8.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var BP_DTheme = {"accepted":"Accepted","close":"Close","comments":"comments","leave_group_confirm":"Are you sure you want to leave this group?","mark_as_fav":"Favorite","my_favs":"My Favorites","rejected":"Rejected","remove_fav":"Remove Favorite","show_all":"Show all","show_all_comments":"Show all comments for this thread","show_x_comments":"Show all comments (%d)","unsaved_changes":"Your profile has unsaved changes. If you leave the page, the changes will be lost.","view":"View"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/buddypress/bp-templates/bp-legacy/js/buddypress.min.js?ver=2.8.2'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.0.5'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.0.5'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var like_this_ajax_object = {"ajax_url":"http:\/\/www.bestsitetobookacruise.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/roses-like-this/likesScript.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/wp-embed-facebook/lib/lightbox2/js/lightbox.min.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/wp-embed-facebook/lib/js/wpembedfb.min.js?ver=4.8.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var WEF = {"local":"en_US","version":"v2.7","fb_id":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/wp-embed-facebook/lib/js/fb.min.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/jquery.hoverIntent.min.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/jquery.ui.touchPunch.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/colorbox/jquery.colorbox.min.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/jquery.placeholder.min.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/jquery.themexSlider.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/jquery.twitterFetcher.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/jquery.textPattern.js?ver=4.8.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var labels = {"dateFormat":"dd\/mm\/yy","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesMin":["Su","Mo","Tu","We","Th","Fr","Sa"],"monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"firstDay":"0","prevText":"Prev","nextText":"Next"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/themes/midway/js/general.js?ver=4.8.3'></script>
<link rel='https://api.w.org/' href='http://www.bestsitetobookacruise.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bestsitetobookacruise.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bestsitetobookacruise.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.8.3" />
<link rel='shortlink' href='http://www.bestsitetobookacruise.com/' />
<link rel="alternate" type="application/json+oembed" href="http://www.bestsitetobookacruise.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.bestsitetobookacruise.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://www.bestsitetobookacruise.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.bestsitetobookacruise.com%2F&#038;format=xml" />
<div style="-moz-border-radius: 10px; border-radius: 10px; border:1px solid #999999; position: fixed; z-index:99999; width: 70px; background-color:#FFFFFF; display:block; margin: 50%; right: 600px; margin-top: 50px;">
<div style="width:68px;margin: auto; padding:0 0 5px 0; text-align:center;">
<span style="padding-top:5px; display:block;"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical"></a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span><span style="padding-top:5px; display:block;"><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-send="false" data-layout="box_count" data-width="55" data-show-faces="false"></div></span><span style="padding-top:5px; display:block;"><script src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/Share" data-counter="top"></script></span><span style="padding-top:5px; display:block;"><br /><a href="http://pinterest.com/pin/create/button/?url=http://www.bestsitetobookacruise.com/&media=&description=Home" class="pin-it-button" count-layout="vertical">Pin It</a><script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script></span></div>
</div>

	<script type="text/javascript">var ajaxurl = 'http://www.bestsitetobookacruise.com/wp-admin/admin-ajax.php';</script>

<meta property="fb:app_id" content="901387913339420"/><link rel="shortcut icon" href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/BSTBC-small-100-X-75.jpg" /><style type="text/css">body{background-image:url(http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea_Cruises_Silver_Cloud_SHIP.png);}body, input, select, textarea{font-family:Open Sans, Arial, Helvetica, sans-serif;}h1,h2,h3,h4,h5,h6, .button, .header-menu a, .woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce #respond input#submit,.woocommerce #content input.button,.woocommerce-page a.button,.woocommerce-page button.button,.woocommerce-page input.button,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button{font-family:Signika, Arial, Helvetica, sans-serif;}a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .header-menu ul ul a:hover, .header-menu > div > ul > li.current-menu-item > a,.header-menu > div > ul > li.current-menu-parent > a,.header-menu > div > ul > li.hover > a,.header-menu > div > ul > li:hover > a{color:#FF9000;}input[type="submit"], input[type="button"], .button, .colored-icon, .widget_recent_comments li:before, .ui-slider .ui-slider-range, .tour-itinerary .tour-day-number h5, .testimonials-slider .controls a.current, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover{background-color:#FF9000;}.header .logo a, .header .header-text h5, .header .social-links span, .header-menu a, .header-menu a span, .site-footer .row, .site-footer a, .header-widgets .widget, .header-widgets .widget a, .header-widgets .section-title h3{color:#FFFFFF;}.header-menu ul ul li, .header-menu > div > ul > li.current-menu-item > a, .header-menu > div > ul > li.current-menu-parent > a, .header-menu > div > ul > li.hover > a, .header-menu > div > ul > li:hover > a{background-color:#FFFFFF;}::-moz-selection{background-color:#FF9000;}::selection{background-color:#FF9000;}</style><script type="text/javascript">
			WebFontConfig = {google: { families: [ "Signika:400,600","Open Sans:400,400italic,600" ] } };
			(function() {
				var wf = document.createElement("script");
				wf.src = ("https:" == document.location.protocol ? "https" : "http") + "://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";
				wf.type = "text/javascript";
				wf.async = "true";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(wf, s);
			})();
			</script><meta name="generator" content="Powered by Slider Revolution 5.0.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<link rel="icon" href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/07/Logo_Transparent-2-150x150.png" sizes="32x32" />
<link rel="icon" href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/07/Logo_Transparent-2-300x300.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/07/Logo_Transparent-2-180x180.png" />
<meta name="msapplication-TileImage" content="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/07/Logo_Transparent-2-300x300.png" />
</head>
<body class="home-page home page-template-default page page-id-96 no-js">
	<div class="container site-container">
		<header class="container site-header">
			<div class="substrate top-substrate">
				<img src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea_Cruises_Silver_Cloud_SHIP.png" class="fullwidth" alt="" />			</div>
			<!-- background -->
			<div class="row supheader">
				<div class="logo">
					<a href="http://www.bestsitetobookacruise.com" rel="home">
						<img src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Logo_Transparent.png" alt=" " />
					</a>
				</div>
				<!-- logo -->
				<div class="social-links">
					<a class="youtube" href="https://www.youtube.com/channel/UCu0O53fngNXsj2DiRxU-Yig" target="_blank" title="YouTube"></a><a class="facebook" href="https://www.facebook.com/bestsitetobookacruise/" target="_blank" title="Facebook"></a><a class="tumblr" href="http://bestsitetobookacruise.tumblr.com/" target="_blank" title="Tumblr"></a><a class="twitter" href="https://twitter.com/site2bookcruise" target="_blank" title="Twitter"></a>				</div>
				<!-- social links -->
								<nav class="header-menu">
					<div class="menu"><ul id="menu-main-menu" class="menu"><li id="menu-item-434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-96 current_page_item menu-item-434"><a href="http://www.bestsitetobookacruise.com/">Home</a></li>
<li id="menu-item-510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-510"><a href="http://www.bestsitetobookacruise.com/about-us/">About Us</a></li>
<li id="menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-468"><a href="http://www.bestsitetobookacruise.com/worlds-top-cruise-lines/">World’s Top Cruise Lines</a>
<ul  class="sub-menu">
	<li id="menu-item-469" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-469"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=1043">Azamara</a></li>
	<li id="menu-item-470" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-470"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=1">Carnival</a></li>
	<li id="menu-item-471" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-471"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=2">Celebrity</a></li>
	<li id="menu-item-472" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-472"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=10">Costa</a></li>
	<li id="menu-item-473" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-473"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/cruiseline.aspx?supplier=12%20">Cunard</a></li>
	<li id="menu-item-474" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-474"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=4">Disney</a></li>
	<li id="menu-item-475" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-475"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=5">Holland America</a></li>
	<li id="menu-item-476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-476"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&#038;supplier=982">MSC</a></li>
	<li id="menu-item-477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-477"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=6&#038;transportId=29">NCL</a></li>
	<li id="menu-item-478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-478"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=14&#038;transportId=29">Oceania</a></li>
	<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-479"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=7&#038;transportId=29">Princess</a></li>
	<li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-480"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=8&#038;transportId=29">Royal Caribbean</a></li>
	<li id="menu-item-481" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-481"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=11&#038;transportId=29">Seabourn</a></li>
	<li id="menu-item-482" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-482"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=8115&#038;transportId=29http://">Silversea</a></li>
	<li id="menu-item-1702" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1702"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=8175&#038;transportId=29">Viking Ocean Cruises</a></li>
	<li id="menu-item-1701" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1701"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;CruiseLine=8112&#038;transportId=29%20">Viking River Cruises</a></li>
</ul>
</li>
<li id="menu-item-814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-814"><a href="http://www.bestsitetobookacruise.com/best-cruise-destinations/">Best Cruise Destinations</a>
<ul  class="sub-menu">
	<li id="menu-item-878" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-878"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=1&#038;transportId=29%20">Alaska</a></li>
	<li id="menu-item-879" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-879"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=29&#038;transportId=29">Australia/New Zealand</a></li>
	<li id="menu-item-880" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-880"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=7&#038;transportId=29%20">Bahamas</a></li>
	<li id="menu-item-881" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-881"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=8&#038;transportId=29">Bermuda</a></li>
	<li id="menu-item-882" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-882"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=26&#038;transportId=29">Canada/New England</a></li>
	<li id="menu-item-883" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-883"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=10&#038;transportId=29">Caribbean East</a></li>
	<li id="menu-item-884" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-884"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=14&#038;transportId=29">Caribbean West</a></li>
	<li id="menu-item-885" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-885"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=13&#038;transportId=29">Caribbean South</a></li>
	<li id="menu-item-886" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-886"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=15&#038;transportId=29">Europe</a></li>
	<li id="menu-item-887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-887"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=21&#038;transportId=29">Hawaii</a></li>
	<li id="menu-item-888" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-888"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=16&#038;transportId=29">Eastern Mediterranean</a></li>
	<li id="menu-item-889" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-889"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=18&#038;transportId=29">Western Mediterranean</a></li>
	<li id="menu-item-890" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-890"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=24&#038;transportId=29">Mexico</a></li>
	<li id="menu-item-891" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-891"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=49&#038;transportId=29">Panama Canal</a></li>
	<li id="menu-item-892" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-892"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=32&#038;transportId=29">South America</a></li>
	<li id="menu-item-893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-893"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=44&#038;transportId=29">South Pacific</a></li>
	<li id="menu-item-894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-894"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=34&#038;transportId=29">Transatlantic</a></li>
	<li id="menu-item-895" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-895"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;Destinations=36&#038;transportId=29">World Cruise</a></li>
</ul>
</li>
<li id="menu-item-813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-813"><a href="http://www.bestsitetobookacruise.com/best-cruise-departure-ports/">Best Cruise Departure Ports</a>
<ul  class="sub-menu">
	<li id="menu-item-899" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-899"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=CHS&#038;transportId=29">Charleston</a></li>
	<li id="menu-item-900" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-900"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=FLL&#038;transportId=29%20">Fort Lauderdale</a></li>
	<li id="menu-item-901" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-901"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=GLS&#038;transportId=29">Galveston</a></li>
	<li id="menu-item-902" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-902"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=JAX&#038;transportId=29">Jacksonville</a></li>
	<li id="menu-item-903" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-903"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=LAX&#038;transportId=29">Los Angeles</a></li>
	<li id="menu-item-904" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-904"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=MIA&#038;transportId=29">Miami</a></li>
	<li id="menu-item-912" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-912"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=MOB&#038;transportId=29">Mobile</a></li>
	<li id="menu-item-913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-913"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=EWR&#038;transportId=29">New York</a></li>
	<li id="menu-item-905" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-905"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=MSY&#038;transportId=29">New Orleans</a></li>
	<li id="menu-item-907" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-907"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=XPC&#038;transportId=29">Port Canaveral</a></li>
	<li id="menu-item-908" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-908"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=SAN&#038;transportId=29">San Diego</a></li>
	<li id="menu-item-909" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-909"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=SFO&#038;transportId=29">San Francisco</a></li>
	<li id="menu-item-910" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-910"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=SEA&#038;transportId=29">Seattle/Tacoma</a></li>
	<li id="menu-item-915" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-915"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=SOU&#038;transportId=29">Southampton</a></li>
	<li id="menu-item-911" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-911"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=TPA&#038;transportId=29">Tampa Bay/St. Petersburg</a></li>
	<li id="menu-item-916" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-916"><a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&#038;SearchCruise=true&#038;DeparturePorts=YVR&#038;transportId=29">Vancouver</a></li>
</ul>
</li>
<li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437"><a href="http://www.bestsitetobookacruise.com/contact-us/">Contact Us</a></li>
<li id="menu-item-1060" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1060"><a href="http://www.bestsitetobookacruise.com/cruising-101-blog/">Blog</a></li>
</ul></div>				</nav>
				<div class="clear"></div>
				<div class="select-menu select-field">
					<select><option value="http://www.bestsitetobookacruise.com/">Home</option><option value="http://www.bestsitetobookacruise.com/about-us/">About Us</option><option value="http://www.bestsitetobookacruise.com/worlds-top-cruise-lines/">World’s Top Cruise Lines</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=1043">&nbsp;&nbsp;&nbsp;Azamara</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=1">&nbsp;&nbsp;&nbsp;Carnival</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=2">&nbsp;&nbsp;&nbsp;Celebrity</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=10">&nbsp;&nbsp;&nbsp;Costa</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/cruiseline.aspx?supplier=12%20">&nbsp;&nbsp;&nbsp;Cunard</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=4">&nbsp;&nbsp;&nbsp;Disney</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=5">&nbsp;&nbsp;&nbsp;Holland America</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=982">&nbsp;&nbsp;&nbsp;MSC</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=6&transportId=29">&nbsp;&nbsp;&nbsp;NCL</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=14&transportId=29">&nbsp;&nbsp;&nbsp;Oceania</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=7&transportId=29">&nbsp;&nbsp;&nbsp;Princess</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=8&transportId=29">&nbsp;&nbsp;&nbsp;Royal Caribbean</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=11&transportId=29">&nbsp;&nbsp;&nbsp;Seabourn</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=8115&transportId=29http://">&nbsp;&nbsp;&nbsp;Silversea</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=8175&transportId=29">&nbsp;&nbsp;&nbsp;Viking Ocean Cruises</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=8112&transportId=29%20">&nbsp;&nbsp;&nbsp;Viking River Cruises</option><option value="http://www.bestsitetobookacruise.com/best-cruise-destinations/">Best Cruise Destinations</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=1&transportId=29%20">&nbsp;&nbsp;&nbsp;Alaska</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=29&transportId=29">&nbsp;&nbsp;&nbsp;Australia/New Zealand</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=7&transportId=29%20">&nbsp;&nbsp;&nbsp;Bahamas</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=8&transportId=29">&nbsp;&nbsp;&nbsp;Bermuda</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=26&transportId=29">&nbsp;&nbsp;&nbsp;Canada/New England</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=10&transportId=29">&nbsp;&nbsp;&nbsp;Caribbean East</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=14&transportId=29">&nbsp;&nbsp;&nbsp;Caribbean West</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=13&transportId=29">&nbsp;&nbsp;&nbsp;Caribbean South</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=15&transportId=29">&nbsp;&nbsp;&nbsp;Europe</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=21&transportId=29">&nbsp;&nbsp;&nbsp;Hawaii</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=16&transportId=29">&nbsp;&nbsp;&nbsp;Eastern Mediterranean</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=18&transportId=29">&nbsp;&nbsp;&nbsp;Western Mediterranean</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=24&transportId=29">&nbsp;&nbsp;&nbsp;Mexico</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=49&transportId=29">&nbsp;&nbsp;&nbsp;Panama Canal</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=32&transportId=29">&nbsp;&nbsp;&nbsp;South America</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=44&transportId=29">&nbsp;&nbsp;&nbsp;South Pacific</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=34&transportId=29">&nbsp;&nbsp;&nbsp;Transatlantic</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&Destinations=36&transportId=29">&nbsp;&nbsp;&nbsp;World Cruise</option><option value="http://www.bestsitetobookacruise.com/best-cruise-departure-ports/">Best Cruise Departure Ports</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=CHS&transportId=29">&nbsp;&nbsp;&nbsp;Charleston</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=FLL&transportId=29%20">&nbsp;&nbsp;&nbsp;Fort Lauderdale</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=GLS&transportId=29">&nbsp;&nbsp;&nbsp;Galveston</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=JAX&transportId=29">&nbsp;&nbsp;&nbsp;Jacksonville</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=LAX&transportId=29">&nbsp;&nbsp;&nbsp;Los Angeles</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=MIA&transportId=29">&nbsp;&nbsp;&nbsp;Miami</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=MOB&transportId=29">&nbsp;&nbsp;&nbsp;Mobile</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=EWR&transportId=29">&nbsp;&nbsp;&nbsp;New York</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=MSY&transportId=29">&nbsp;&nbsp;&nbsp;New Orleans</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=XPC&transportId=29">&nbsp;&nbsp;&nbsp;Port Canaveral</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=SAN&transportId=29">&nbsp;&nbsp;&nbsp;San Diego</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=SFO&transportId=29">&nbsp;&nbsp;&nbsp;San Francisco</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=SEA&transportId=29">&nbsp;&nbsp;&nbsp;Seattle/Tacoma</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=SOU&transportId=29">&nbsp;&nbsp;&nbsp;Southampton</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=TPA&transportId=29">&nbsp;&nbsp;&nbsp;Tampa Bay/St. Petersburg</option><option value="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&DeparturePorts=YVR&transportId=29">&nbsp;&nbsp;&nbsp;Vancouver</option><option value="http://www.bestsitetobookacruise.com/contact-us/">Contact Us</option><option value="http://www.bestsitetobookacruise.com/cruising-101-blog/">Blog</option></select>					<span>&nbsp;</span>
				</div>
				<!--/ select menu-->
			</div>
			<!-- supheader -->
						<div class="row subheader">
								<div class="threecol column subheader-block">
									<script type="text/javascript" language="javascript" id="OFrameworkJS" ThemeURI="OdyCruiseSearch/" SkinID="default" src="http://cruises.bestsitetobookacruise.com/web/SearchForms/OFramework.js"></script>
<div class="tour-search-form placeholder-form">
	<div id="CruiseSearchForm"></div>
</div>

<script language="javascript" type="text/javascript">
	if (OFramework != null)
	{
		OFramework.QSParams.Add("siid","104851");
		OFramework.QSParams.Add("referrer","");
		oCForm = OFramework.CruiseSearchForm(document.getElementById("CruiseSearchForm"));
		oCForm.Target="_new";

	}
</script>
<!-- tour search form -->								</div>
				<div class="ninecol column subheader-block last">
					<div class="main-slider-container content-slider-container">
	<div class="content-slider main-slider">
		<ul>
			<li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/cruiseline.aspx?supplier=5">
			<img width="960" height="570" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Holland-America-slide-2.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Holland-America-slide-2.jpg 960w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Holland-America-slide-2-300x178.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Holland-America-slide-2-768x456.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Holland-America-slide-2-440x261.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Holland-America-slide-2-600x356.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" />		</a>

		</div>
	</li><li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=12 ">
			<img width="966" height="650" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Cunard-time-for-you-pillar.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Cunard-time-for-you-pillar.jpg 966w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Cunard-time-for-you-pillar-300x202.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Cunard-time-for-you-pillar-768x517.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Cunard-time-for-you-pillar-440x296.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/Cunard-time-for-you-pillar-600x404.jpg 600w" sizes="(max-width: 966px) 100vw, 966px" />		</a>

		</div>
	</li><li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=8&transportId=29">
			<img width="1024" height="720" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/RCCL-flow-rider-crowd-1024x720.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/RCCL-flow-rider-crowd.jpg 1024w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/RCCL-flow-rider-crowd-300x211.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/RCCL-flow-rider-crowd-768x540.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/RCCL-flow-rider-crowd-440x309.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/RCCL-flow-rider-crowd-600x422.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px" />		</a>

		</div>
	</li><li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=1">
			<img width="480" height="320" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/CCL-VS16_WaterWorks.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/CCL-VS16_WaterWorks.jpg 480w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/CCL-VS16_WaterWorks-300x200.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/CCL-VS16_WaterWorks-440x293.jpg 440w" sizes="(max-width: 480px) 100vw, 480px" />		</a>

		</div>
	</li><li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/CruiseLine.aspx?siid=104851&supplier=4 ">
			<img width="1024" height="682" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters-1024x682.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters-1024x682.jpg 1024w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters-300x200.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters-768x511.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters-440x293.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters-600x399.jpg 600w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/disney-cruise-characters.jpg 1600w" sizes="(max-width: 1024px) 100vw, 1024px" />		</a>

		</div>
	</li><li>
	<div class="featured-image">

				<a href="https://charlottesec.leadpages.co/win-a-3-day-cruise-to-the-bahamas-website-only/">
			<img width="962" height="581" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only.png" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only.png 962w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-300x181.png 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-768x464.png 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-440x266.png 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-600x362.png 600w" sizes="(max-width: 962px) 100vw, 962px" />		</a>

		</div>
		<div class="featured-image-caption visible-caption">
		<h4><div id="fb-root"></div>
<p><a href="https://charlottesec.leadpages.co/win-a-3-day-cruise-to-the-bahamas-website-only/"><img class="alignleft wp-image-1734 size-full" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only.png" alt="" width="962" height="581" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only.png 962w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-300x181.png 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-768x464.png 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-440x266.png 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/Win_Text_Only-600x362.png 600w" sizes="(max-width: 962px) 100vw, 962px" /></a></p>
</h4>
	</div>
	</li><li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/results.aspx?">
			<img width="433" height="265" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/the-company_12662_12229_433-265_Imagesmsc.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/the-company_12662_12229_433-265_Imagesmsc.jpg 433w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/the-company_12662_12229_433-265_Imagesmsc-300x184.jpg 300w" sizes="(max-width: 433px) 100vw, 433px" />		</a>

		</div>
		<div class="featured-image-caption visible-caption">
		<h4><div id="fb-root"></div>
<p><a href="https://cruises.bestsitetobookacruise.com/web/cruises/results.aspx?"><img class="alignleft wp-image-1741 size-full" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/the-company_12662_12229_433-265_Imagesmsc.jpg" alt="" width="433" height="265" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/the-company_12662_12229_433-265_Imagesmsc.jpg 433w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/04/the-company_12662_12229_433-265_Imagesmsc-300x184.jpg 300w" sizes="(max-width: 433px) 100vw, 433px" /></a></p>
</h4>
	</div>
	</li><li>
	<div class="featured-image">

				<a href="https://cruises.bestsitetobookacruise.com/web/cruises/search.aspx?siid=104851&SearchCruise=true&CruiseLine=8115&transportId=29">
			<img width="1024" height="576" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions-1024x576.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions-1024x576.jpg 1024w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions-300x169.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions-768x432.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions-440x248.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions-600x338.jpg 600w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea-Expeditions.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" />		</a>

		</div>
	</li>
		</ul>
		<div class="arrow arrow-left content-slider-arrow"></div>
		<div class="arrow arrow-right content-slider-arrow"></div>
		<input type="hidden" class="slider-pause" value="6760" />
		<input type="hidden" class="slider-speed" value="955" />
		<input type="hidden" class="slider-effect" value="fade" />
	</div>
	<div class="block-background layer-1"></div>
	<div class="block-background layer-2"></div>
</div>
				</div>
							</div>
			<!-- subheader -->
						<div class="block-background header-background"></div>
		</header>
		<!-- header -->
		<section class="container site-content">
			<div class="row"><div id="fb-root"></div>
<div class="eightcol column"><div class="fivecol column">
<div style="width: 1140px;" class="wp-video"><!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
<video class="wp-video-shortcode" id="video-96-1" width="1140" height="641" preload="metadata" controls="controls"><source type="video/mp4" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/10/Cruise-Booking-Best-Site-to-Book-a-Cruise-Carnival-RCL-NCL-MSC-Online-Cruise-Discounts.mp4?_=1" /><a href="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/10/Cruise-Booking-Best-Site-to-Book-a-Cruise-Carnival-RCL-NCL-MSC-Online-Cruise-Discounts.mp4">http://www.bestsitetobookacruise.com/wp-content/uploads/2012/10/Cruise-Booking-Best-Site-to-Book-a-Cruise-Carnival-RCL-NCL-MSC-Online-Cruise-Discounts.mp4</a></video></div>
</div><div class="sevencol column last"><div class="section-title"><h1>The Best Site to Book a Cruise</h1></div>
<p><strong>Best Site to Book a Cruise</strong> simplifies the online cruise booking process while building a global community of awesome cruisers. We eliminate the hard sell and &#8220;rates so low we can&#8217;t show you&#8221; tactics that cruise passengers have grown accustomed to from many online booking sites.</p>
<p>Here&#8217;s instructions to immediately apply your <a href="http://www.bestsitetobookacruise.com/cruise-knowledgebase/how-to-use-your-discountcode-on-our-site/">DISCOUNT CODE</a> for a limited time to get an additional % off of your next cruise, on top of whatever is offered by the cruise line. Applies to Online Bookings only. <strong>Use Promo Code:</strong> &#8220;<b>BC7</b>&#8221;</p>
<p><a href="https://charlottesec.leadpages.co/win-a-3-day-cruise-to-the-bahamas-website-only/">CLICK HERE FOR A CHANCE TO WIN A 3 DAY CRUISE TO THE BAHAMAS on the CARNIVAL VICTORY!</a></p>
</div><div class="clear"></div></div><div class="fourcol column last"><div class="content-slider testimonials-slider"><ul><li>
	<article class="testimonial">
		<div class="quote-text">
			<div class="block-background">
				<div id="fb-root"></div>
<p><strong><b>What our guests are saying&#8230;</b></strong></p>
<p>The best and easiest site to get all your cruising needs in one place!! Thanks so much!!! Great help for me and my family!!!</p>
<p>&nbsp;</p>
			</div>
		</div>
		<h6 class="quote-author">
			Hope Johnson from Glenmora, Louisiana		</h6>
	</article>
</li><li>
	<article class="testimonial">
		<div class="quote-text">
			<div class="block-background">
				<div id="fb-root"></div>
<p><strong><b>What our guests are saying&#8230;</b><br />
</strong></p>
<p>I usually book my Carnival cruises directly but this time I tried using Best Site to Book A Cruise.  I booked the entire trip myself and got a lower price than if I booked it through a travel agent.</p>
<p>I just applied the discount code and it reduced the price of our cruise to Mexico. I&#8217;ll be using them for all of our cruises from now on.</p>
<p>&nbsp;</p>
			</div>
		</div>
		<h6 class="quote-author">
			Sophia Anderson &#8211; Charleston, SC		</h6>
	</article>
</li><li>
	<article class="testimonial">
		<div class="quote-text">
			<div class="block-background">
				<div id="fb-root"></div>
<p><strong><b>What our guests are saying&#8230;</b><br />
</strong></p>
<p>These guys will do their best to get you on board the cruise you&#8217;d like and with good rates. I&#8217;m from abroad and they really take their time to make and go through the booking with you. So, I give them a 5-star rating. Thanks guys!</p>
			</div>
		</div>
		<h6 class="quote-author">
			Marcia Mokamat &#8211; Paramaribo, Suriname		</h6>
	</article>
</li></ul><input type="hidden" class="slider-pause" value="0" /><input type="hidden" class="slider-speed" value="400" /></div></div><div class="clear"></div></div></section><section class="container content-section"><div class="substrate section-substrate"><img src="http://www.bestsitetobookacruise.com/wp-content/uploads/2012/11/background_1.jpg" class="fullwidth" alt="" /></div><div class="row"><div class="items-grid"><div class="column threecol ">
	<div class="tour-thumb-container">
		<div class="tour-thumb">
			<a href="http://www.bestsitetobookacruise.com/tour/princess-majestic-princess/"><img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/majestic-princess-deck-view-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/majestic-princess-deck-view-440x330.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/majestic-princess-deck-view-300x225.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/majestic-princess-deck-view.jpg 550w" sizes="(max-width: 440px) 100vw, 440px" /></a>
			<div class="tour-caption">
				<h5 class="tour-title"><a href="http://www.bestsitetobookacruise.com/tour/princess-majestic-princess/">Princess, Majestic Princess</a></h5>
								<div class="tour-meta">
										<div class="tour-destination"><div class="colored-icon icon-2"></div><a href="http://www.bestsitetobookacruise.com/destinations/world-cruise/" rel="tag">World Cruise</a></div>
															<div class="tour-duration">56 days</div>
									</div>
							</div>
		</div>
		<div class="block-background"></div>
	</div>
</div><div class="column threecol ">
	<div class="tour-thumb-container">
		<div class="tour-thumb">
			<a href="http://www.bestsitetobookacruise.com/tour/oceania-regatta/"><img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Oceania-regatta-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" /></a>
			<div class="tour-caption">
				<h5 class="tour-title"><a href="http://www.bestsitetobookacruise.com/tour/oceania-regatta/">Oceania, Regatta</a></h5>
								<div class="tour-meta">
										<div class="tour-destination"><div class="colored-icon icon-2"></div><a href="http://www.bestsitetobookacruise.com/destinations/australia/" rel="tag">Australia</a>, <a href="http://www.bestsitetobookacruise.com/destinations/new-zealand/" rel="tag">New Zealand</a></div>
															<div class="tour-duration">34 days</div>
									</div>
							</div>
		</div>
		<div class="block-background"></div>
	</div>
</div><div class="column threecol ">
	<div class="tour-thumb-container">
		<div class="tour-thumb">
			<a href="http://www.bestsitetobookacruise.com/tour/cunard-queen-mary-2/"><img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Queen-Mary-2-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" /></a>
			<div class="tour-caption">
				<h5 class="tour-title"><a href="http://www.bestsitetobookacruise.com/tour/cunard-queen-mary-2/">Cunard Queen Mary 2</a></h5>
								<div class="tour-meta">
										<div class="tour-destination"><div class="colored-icon icon-2"></div><a href="http://www.bestsitetobookacruise.com/destinations/world-cruise/" rel="tag">World Cruise</a></div>
															<div class="tour-duration">10 days</div>
									</div>
							</div>
		</div>
		<div class="block-background"></div>
	</div>
</div><div class="column threecol last">
	<div class="tour-thumb-container">
		<div class="tour-thumb">
			<a href="http://www.bestsitetobookacruise.com/tour/celebrity-reflection/"><img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Celebrity-reflection-ext-wide-shot-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" /></a>
			<div class="tour-caption">
				<h5 class="tour-title"><a href="http://www.bestsitetobookacruise.com/tour/celebrity-reflection/">Celebrity, Reflection</a></h5>
								<div class="tour-meta">
										<div class="tour-destination"><div class="colored-icon icon-2"></div><a href="http://www.bestsitetobookacruise.com/destinations/caribbean/" rel="tag">Caribbean</a></div>
															<div class="tour-duration">7 days</div>
									</div>
							</div>
		</div>
		<div class="block-background"></div>
	</div>
</div><div class="clear"></div></div></div></section><section class="container site-content"><div class="row"><div class="threecol column"><div class="section-title"><h1>Travel Guide</h1></div><div class="featured-blog"><article class="post post-1644 type-post status-publish format-standard has-post-thumbnail hentry category-guides">
			<div class="featured-image">
			<a href="http://www.bestsitetobookacruise.com/2017/02/08/valuable-lessons-first-cruise/"><img width="440" height="206" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison-440x206.jpg" class="attachment-normal size-normal wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison-440x206.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison-300x141.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison-768x360.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison-1024x481.jpg 1024w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison-600x282.jpg 600w, http://www.bestsitetobookacruise.com/wp-content/uploads/2017/02/Carnival-cruise-ships-sizes-comparison.jpg 1172w" sizes="(max-width: 440px) 100vw, 440px" /></a>
		</div>
		<div class="post-content">
		<h5 class="post-title"><a href="http://www.bestsitetobookacruise.com/2017/02/08/valuable-lessons-first-cruise/">Valuable Lessons For Your First Cruise</a></h5>
		<p>Though the title is &#8220;Valuable Lessons For Your First Cruise&#8221;, even cruise vets or those who have only cruised a couple times might find some useful information on this post. All photos courtesy of Best Site To Book A Cruise unless other wise noted. Planning and Booking 1. Budget properly. “Be prepared to spend at [&hellip;]</p></p>
	</div>
	<footer class="post-footer clearfix">
		<a href="http://www.bestsitetobookacruise.com/2017/02/08/valuable-lessons-first-cruise/" class="button small">Read More</a>
				<div class="post-comment-count">0</div>
				<div class="post-info">
			<time datetime="2017-02-08">February 8, 2017</time>
		</div>
	</footer>
</article></div></div><div class="sixcol column"><div class="section-title"><h1>Gallery</h1></div><div class="items-grid"><div class="column gallery-item fourcol ">
	<div class="featured-image">
		<a href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Dunns-River-falls-Ocho-Rios-Jamaica.jpg" class="colorbox " data-group="gallery-829" title="Dunn's River Falls is one of Jamaica's national treasures. Globally, it is almost as well known as reggae and some say equally stimulating. We don't suggest any smoking...while going up these falls.

The Spaniards called the area &quot;Las Chorreras&quot;, the waterfalls or springs and it is truly one of the most beautiful spots on the island.

NOTE: Do NOT forget your water shoes if you plan on doing this tour!

More information on cruises to Jamaica can be visited on a variety of 5+ day Western Caribbean sailings.">
			<img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Dunns-River-falls-Ocho-Rios-Jamaica-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Dunns-River-falls-Ocho-Rios-Jamaica-440x330.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Dunns-River-falls-Ocho-Rios-Jamaica-300x225.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Dunns-River-falls-Ocho-Rios-Jamaica.jpg 600w" sizes="(max-width: 440px) 100vw, 440px" />		</a>
		<a class="featured-image-caption hidden-caption" href="#">
			<h6>Ocho Rios, Jamaica</h6>
		</a>
	</div>
	<div class="hidden">
			</div>
	<div class="block-background"></div>
</div><div class="column gallery-item fourcol ">
	<div class="featured-image">
		<a href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/st-kitts-certified-2-tank-dive.jpg" class="colorbox " data-group="gallery-827" title="Let the knowledgeable Dive Masters introduce you to the beautiful Underwater World of St. Kitts. You will be mesmerized by an array of exotic marine species and coral formations that are in abundance in our clear and warm waters. The local Dive Master will select his favorite dive sites for you to explore, including wrecks, large colorful reefs or walls.

NOTE: **A valid Open Water Certification Card (C-Card) must be presented in order to participate.

You can visit St. Kitts on 7+ day long select Southern and select Eastern Caribbean sailings.">
			<img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/st-kitts-certified-2-tank-dive-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" />		</a>
		<a class="featured-image-caption hidden-caption" href="#">
			<h6>Basseterre, St Kitts</h6>
		</a>
	</div>
	<div class="hidden">
			</div>
	<div class="block-background"></div>
</div><div class="column gallery-item fourcol last">
	<div class="featured-image">
		<a href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/nassau-discover-atlantis-tour-Royal.jpg" class="colorbox " data-group="gallery-825" title="Aquaventure Water Park at Atlantis Resort has much to offer when your cruise calls on Nassau in the Bahamas.

Atlantis Resort is about a 20-minute ride from where your ship docks. Discover the resort’s 141-acre waterscape of pools, water coasters, body slides and rivers, making it the largest water-themed attraction in the Caribbean. The spectacular park features over 20 million gallons of fresh and seawater with more than 50,000 sea creatures. Be sure to view the marine exhibit called The Dig where you can embark on a journey through the tunnels and streets of the famous lost city of Atlantis and see spectacular marine life.

For real exhilaration, ride the adrenalin-inducing water slides, including the pulse-pounding seven-story Power Tower. Go grab an inner tube and enjoy The Current &amp;amp; Rapids, a one-mile journey that serves up waves, rapids, tunnels, mysterious caves and other surprises. When you’ve had enough relax under the warm Bahamas sun and cool off in the refreshing water of a swimming pool. There are 11 to choose from such as the formal splendor of The Baths or the relaxed atmosphere of the River Pool that is connected to the Lazy River Ride.

Perhaps you’d like to visit the seven-acre Paradise Lagoon and rent paddleboats, snorkeling and other water sports in a protected environment.

If you prefer to sit and relax while the grandkids enjoy the water park, try your luck at the Caribbean’s largest casino or stroll through the more than 20 duty-free shops at the Marina Village.

&amp;nbsp;

So if you’d like to experience the Atlantis Resort and the thrills of the water park, book one of the MANY cruises with Nassau, Bahamas on the itinerary and choose the Atlantis tour that suits you best.">
			<img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/nassau-discover-atlantis-tour-Royal-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" />		</a>
		<a class="featured-image-caption hidden-caption" href="#">
			<h6>Nassau, Bahamas</h6>
		</a>
	</div>
	<div class="hidden">
			</div>
	<div class="block-background"></div>
</div><div class="clear"></div><div class="column gallery-item fourcol ">
	<div class="featured-image">
		<a href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival.jpg" class="colorbox " data-group="gallery-821" title="Under Water Power Scooter tour in beautiful Grand Turk. Your power scooter helps you explore more reefs and cover more area than regular snorkeling.  So enjoy exploring the expansive reef and the many varieties of fish that call it home.">
			<img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" srcset="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival-440x330.jpg 440w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival-300x225.jpg 300w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival-768x576.jpg 768w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival-1024x768.jpg 1024w, http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Grand-Turk-Underwater-Power-Scooter-Carnival-600x450.jpg 600w" sizes="(max-width: 440px) 100vw, 440px" />		</a>
		<a class="featured-image-caption hidden-caption" href="#">
			<h6>Grand Turk, Turks and Caicos Islands</h6>
		</a>
	</div>
	<div class="hidden">
			</div>
	<div class="block-background"></div>
</div><div class="column gallery-item fourcol ">
	<div class="featured-image">
		<a href="#gallery-820" class="colorbox inline" data-group="gallery-820" title="Take a guided walk on the ocean floor at Coral World Ocean Park St Thomas and experience the thrill of exploring all the wonders of a coral reef like a diver, but without the need for specialized training. Following a 15-minute orientation, a certified Sea Trek guide will lead you and your small group small of cruisers along an underwater trail through the coral reef that surrounds Coral World’s Undersea Observatory.

Visit Coral World Ocean Park in St. Thomas USVI on one of the many available Eastern Caribbean Cruises.">
			<img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/st-thomas-coral-world-sea-trek-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" />		</a>
		<a class="featured-image-caption hidden-caption" href="#">
			<h6>St Thomas, USVI</h6>
		</a>
	</div>
	<div class="hidden">
				<div class="gallery-video" id="gallery-820">
			<div class="embedded-video">
				<iframe width="1140" height="641" src="https://www.youtube.com/embed/7r6ZS9muDQ0?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>			</div>
		</div>
			</div>
	<div class="block-background"></div>
</div><div class="column gallery-item fourcol last">
	<div class="featured-image">
		<a href="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Juneau-Alaska-whale-watching-tour-e1473963393312.jpg" class="colorbox " data-group="gallery-732" title="May through September sees Juneau’s sparkling waters become a hotspot for humpback whales, orcas and dolphins. In fact, the nutrient-rich waters cater to one of the largest concentrations of humpback whales found anywhere on the blue planet. I assume this why whale watching tours can guarantee you will actually see whales.

Carnival, Celebrity, Holland America, Royal Caribbean, Silversea  and other lines will get you there.">
			<img width="440" height="330" src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/09/Juneau-Alaska-whale-watching-tour-440x330.jpg" class="attachment-preview size-preview wp-post-image" alt="" />		</a>
		<a class="featured-image-caption hidden-caption" href="#">
			<h6>Juneau, Alaska</h6>
		</a>
	</div>
	<div class="hidden">
			</div>
	<div class="block-background"></div>
</div><div class="clear"></div></div></div><div class="threecol column last"><div class="widget widget_siliconcounters"><div style="background-color:#fff" class="silicon-counters-per-row-3  show-labels-No"><div class="silicon_counters"><ul class="sc_vertical"><li class="count-twitter"><a data-color-hover="#0084b4" style="background-color:#33ccff; padding:10px;" class="icon" href="https://twitter.com/site2bookcruise" target="_blank"><span class="fa fa-fw fa-twitter" style="font-size:24px; color:#fff" data-color-hover="#fff"></span><span class="items"><span data-color-hover="#fff" class="count" style="font-size:16px; color:#fff">1167</span><span data-color-hover="#fff" class="label" style="font-size:12px; color:#fff">followers</span></span></a></li><li class="count-facebook"><a data-color-hover="#5E80BF" style="background-color:#3B5998; padding:10px;" class="icon" href="https://www.facebook.com/901387913339420" target="_blank"><span class="fa fa-fw fa-facebook-official" style="font-size:24px; color:#fff" data-color-hover="#fff"></span><span class="items"><span data-color-hover="#fff" class="count" style="font-size:16px; color:#fff">6209</span><span data-color-hover="#fff" class="label" style="font-size:12px; color:#fff">likes</span></span></a></li><li class="count-instagram"><a data-color-hover="#8a3ab9" style="background-color:#cd486b; padding:10px;" class="icon" href="https://instagram.com/bestsitetobookacruise" target="_blank"><span class="fa fa-fw fa-instagram" style="font-size:24px; color:#fff" data-color-hover="#fff"></span><span class="items"><span data-color-hover="#fff" class="count" style="font-size:16px; color:#fff">889</span><span data-color-hover="#fff" class="label" style="font-size:12px; color:#fff">followers</span></span></a></li></ul></div></div><div class="siliconthemes"><div style="height:7px; margin-bottom:-7px; line-height: 3.7em !important; overflow: hidden;">/ Free WordPress Plugins and WordPress Themes by <a href="https://siliconthemes.com/">Silicon Themes</a>. Join us right now!</div></div></div><div class="widget widget_text">			<div class="textwidget"><a class="twitter-timeline" data-width="330" data-height="400" href="https://twitter.com/site2bookcruise">Tweets by site2bookcruise</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>       </div>
		</div></div><div class="clear"></div>
								<div class="clear"></div>
				<div class="footer-widgets clearfix">
					<div class="column threecol"><div class="widget widget_text">			<div class="textwidget"><span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=OcFEBFPXKiM3qOucqRMzW3N4mrrsTBOdiyC8qLqG5sINo2V2yztunHbFNJng"></script></span></div>
		</div></div>				</div>
							</div>
		</section>
		<!-- content -->
		<footer class="container site-footer">
			<div class="row">
				<div class="copyright">
					Best Site to Book a Cruise ©2016				</div>
				<div class="menu"><ul id="menu-new-footer-menu" class="menu"><li id="menu-item-1088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-96 current_page_item menu-item-1088"><a href="http://www.bestsitetobookacruise.com/">Home</a></li>
<li id="menu-item-535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-535"><a href="http://www.bestsitetobookacruise.com/contact-us/">Contact Us</a></li>
<li id="menu-item-819" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819"><a href="http://www.bestsitetobookacruise.com/faq/">FAQ</a></li>
<li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="http://www.bestsitetobookacruise.com/worlds-top-cruise-lines/">World’s Top Cruise Lines</a></li>
<li id="menu-item-1043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1043"><a href="http://www.bestsitetobookacruise.com/best-cruise-departure-ports/">Best Cruise Departure Ports</a></li>
<li id="menu-item-1044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1044"><a href="http://www.bestsitetobookacruise.com/best-cruise-destinations/">Best Cruise Destinations</a></li>
<li id="menu-item-1140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1140"><a href="http://www.bestsitetobookacruise.com/knowledgebase/">Knowledgebase</a></li>
</ul></div>			</div>
		</footer>
		<!-- footer -->
		<div class="substrate bottom-substrate">
			<img src="http://www.bestsitetobookacruise.com/wp-content/uploads/2016/10/Silversea_Cruises_Silver_Cloud_SHIP.png" class="fullwidth" alt="" />		</div>
	</div>
<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery('#s').keyup(function() {
					jQuery('#search-result').slideDown("slow");
				});
			});

			jQuery(document).ready(function(e) {
				jQuery('body').click(function(){
					jQuery('#search-result').slideDown("slow",function(){
						document.body.addEventListener('click', boxCloser, false);
					});
				});

				function boxCloser(e) {
					if (e.target.id != 's') {
						document.body.removeEventListener('click', boxCloser, false);
						jQuery('#search-result').slideUp("slow");
					}
				}
			});

			jQuery(document).ready(function () {

				var tree_id = 0;
				jQuery('div.kbe_category:has(.kbe_child_category)').addClass('has-child').prepend('<span class="switch"><img src="http://www.bestsitetobookacruise.com/wp-content/plugins/wp-knowledgebase/includes/../template/images/kbe_icon-plus.png" /></span>').each(function () {
					tree_id++;
					jQuery(this).attr('id', 'tree' + tree_id);
				});

				jQuery('div.kbe_category > span.switch').click(function () {
					var tree_id = jQuery(this).parent().attr('id');
					if (jQuery(this).hasClass('open')) {
						jQuery(this).parent().find('div:first').slideUp('fast');
						jQuery(this).removeClass('open');
						jQuery(this).html('<img src="http://www.bestsitetobookacruise.com/wp-content/plugins/wp-knowledgebase/includes/../template/images/kbe_icon-plus.png" />');
					} else {
						jQuery(this).parent().find('div:first').slideDown('fast');
						jQuery(this).html('<img src="http://www.bestsitetobookacruise.com/wp-content/plugins/wp-knowledgebase/includes/../template/images/kbe_icon-minus.png" />');
						jQuery(this).addClass('open');
					}
				});

			});
		</script><script type="text/javascript">
				jQuery(document).ready(function() {
					var kbe = jQuery('#live-search #s').val();
					jQuery('#live-search #s').liveSearch({url: 'http://www.bestsitetobookacruise.com/?ajax=on&post_type=kbe_knowledgebase&s='});
				});
			</script><!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '227504024356137');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=227504024356137&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code --><link rel='stylesheet' id='mediaelement-css'  href='http://www.bestsitetobookacruise.com/wp-includes/js/mediaelement/mediaelementplayer.min.css?ver=2.22.0' type='text/css' media='all' />
<link rel='stylesheet' id='wp-mediaelement-css'  href='http://www.bestsitetobookacruise.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=4.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='silicon-counters-css'  href='http://www.bestsitetobookacruise.com/wp-content/plugins/silicon-counters/framework/assets/css/silicon-counters.css?ver=1.0' type='text/css' media='all' />
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/bbpress/templates/default/js/editor.js?ver=2.5.12-6148'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/comment-reply.min.js?ver=4.8.3'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/click-to-tweet/js/ctt-script.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/wp-knowledgebase//assets/js/jquery.livesearch.js?ver=1.1.5'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-content/plugins/silicon-counters/framework/assets/js/silicon-counters.js?ver=1.0'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":0,"isRTL":false});});
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/wp-embed.min.js?ver=4.8.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mejsL10n = {"language":"en","strings":{"Close":"Close","Fullscreen":"Fullscreen","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Download File":"Download File","Download Video":"Download Video","Play":"Play","Pause":"Pause","Captions\/Subtitles":"Captions\/Subtitles","None":"None","Time Slider":"Time Slider","Skip back %1 seconds":"Skip back %1 seconds","Video Player":"Video Player","Audio Player":"Audio Player","Volume Slider":"Volume Slider","Mute Toggle":"Mute Toggle","Unmute":"Unmute","Mute":"Mute","Use Up\/Down Arrow keys to increase or decrease volume.":"Use Up\/Down Arrow keys to increase or decrease volume.","Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."}};
var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
<script type='text/javascript' src='http://www.bestsitetobookacruise.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.8.3'></script>
<!-- Facebook Comments Plugin for WordPress: http://peadig.com/wordpress-plugins/facebook-comments/ -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=901387913339420&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5851d186651e34097abaa114/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</body>
</html>
