<footer class="footer" >
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h2 class="headin5_amrc col_white_amrc pt2">Find us</h2>
                <!--headin5_amrc-->
                <p class="mb10">Cruise Booking</p>
                <p><i class="fa fa-location-arrow"></i>solapur ,india </p>
                <p><i class="fa fa-phone"></i>+91-9999878398  </p>
                <p><i class="fa fa fa-envelope"></i>info@example.com  </p>


            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h2 class="headin5_amrc col_white_amrc pt2">Quick links</h2>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="">Home</a>

                   <li><a href="">About</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Contact</a></li>

                       </ul>
                <!--footer_ul_amrc ends here-->
            </div>



            <div class=" col-sm-4 col-md  col-12 col">
                <h2 class="headin5_amrc col_white_amrc pt2">Follow us</h2>
                <!--headin5_amrc ends here-->
                <a href="https://www.facebook.com"><i id="social-fb" class="fab fa-2x fa-facebook-square social"></i></a>
                <a href="https://twitter.com"><i id="social-tw" class="fab fa-2x fa-twitter social"></i></a>
                <a href="https://plus.google.com"><i id="social-g" class="fab fa-2x fa-google-plus-g social"></i></a>
                <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                <!-- Social buttons -->


                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2018 </p>

        <!--social_footer_ul ends here-->
    </div>

</footer>
