<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">CruiseBooking</a> -->
  <a class="navbar-brand" href="#">
    CruiseShine
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Deals & Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dining</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <ul>
              <a class="dropdown-item" href="#">Action 1</a>
             <a class="dropdown-item" href="#">Another 2</a>
            <a class="dropdown-item" href="#">Something 3</a>

          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
